canvas {
    width: 400px;
    height: 500px;
    border: 1px solid red;
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
